<html>

<head>
    <title>PROPIETARIO</title>
    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>

<body>
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="img/avatar.png" width="180" height="140" />
                </div>
    
    
    <div class="tz-gallery">
        
        <div class="row">
            <div class="col-sm-6 col-md-4">
               <a class="lightbox" href="img/CAFE_AMERICANO.jpeg">
                <img scr="img/CAFE_AMERICANO.jpeg" alt="CAFE AMERICANO">
            </a> 
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../HTML/img/LATTE CARAMELO.jpeg">
                 <img scr="../HTML/img/LATTE CARAMELO.jpeg" alt="LATTE CARAMELO">
             </a> 
             </div>
             <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../HTML/img/CAPUCCINO.jpeg">
                 <img scr="../HTML/img/CAPUCCINO.jpeg" alt="CAPUCCINO">
             </a> 
             </div>
             <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="img/avatar.png">
                 <img scr="img/avatar.png" alt="AVATAR">
             </a> 
             </div>
             <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../images/park.jpg">
                 <img scr="../images/park.jpg" alt="Park">
             </a> 
             </div>
             <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../images/park.jpg">
                 <img scr="../images/park.jpg" alt="Park">
             </a> 
             </div>
             <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../images/park.jpg">
                 <img scr="../images/park.jpg" alt="Park">
             </a> 
             </div>
             <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../images/park.jpg">
                 <img scr="../images/park.jpg" alt="Park">
             </a> 
             </div>
             <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../images/park.jpg">
                 <img scr="../images/park.jpg" alt="Park">
             </a> 
             </div>             
        </div>
    </div>    
</body>

</html>