<html>

<head>
    <title>Administrador</title>
    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo.css')}}">
</head>

<body>
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <form class="col-12">
                    <button action='/reporte' style="margin-top: 35px ; width: 150px;" type="submit" class="btn btn-primary"> <a action='/reporte' href="/reporte" style="color: blanchedalmond;">Ver Reporte Ventas</a></button>
                    
                </form>
                <div class="col-12 goback">
                    <a action='/' href="/">Cerrar Sesion</a>

                </div>
            </div>
        </div>
    </div>
</body>

</html>